@page "/metrics"

@inject CoinMetricService CoinService
@inject IJSRuntime JsRuntime
@inject ProtectedSessionStorage ProtectedSessionStore

<h4>coin metrics</h4>
<p>this component demonstrates fetching data from an API</p>

@if (Table.Coins == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Table></Table>
}

@code {
    public static RootObject coins = Table.Coins;

    protected override async Task OnInitializedAsync()
    {
        Table.SortType = await ProtectedSessionStore.GetAsync<string>("sortType");
        Table.Coins = await CoinService.GetTopOneHundredCoinsByMarketCap(Table.SortType);
        StateHasChanged();
    }
}
