@page "/rss"

<h4>latest crypto news</h4>

<p>this component demonstrates subscribing to an rss feed</p>

@if (Feeds == null)
{
    <p><em>Loading...</em></p>
}
else
{
    counter = 0;
    <table class='table'>
        <tbody>
            @foreach (var feed in Feeds)
            {
                <tr class="table-rows" id="link" target="_blank" onclick="location.href='@feed.Link2'">
                    > @feed.Title.ToLower()
                    <br />
                    <p>@feed.PubDate</p>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    IEnumerable<Item> Feeds;
    int counter;

    protected override void OnInitialized()
    {
        Feeds = FeedService.GetFeed();
    }

}

