@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: Consolas;
    background-color: #24374A;
    color: #64CAFF;
    font-weight: bold;
}

h4 {
    color: #F46957;
    font-weight: bold;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

.main .top-row {
    background-color: #24374A;
    border-bottom: 1px solid #63C9B8;
    justify-content: flex-end;
}

.main .top-row > a {
    margin-left: 1.5rem;
}

.sidebar {
    background-color: #24374A;
    border-right: 1.5px solid #63C9B8;
}

.sidebar .top-row {
    background-color: rgba(0,0,0,0.4);
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item a {
    color: #FFAD30;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item a span {
    color: #FFAD30;
}

.nav-item a.active {
    color: #24374A;
    background-color: #e7d757;
}

.nav-item a.active span{
    color: #24374A;
}

.nav-item a:hover {
    background-color: #e7d757;
    color: #24374A;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    table, th {
        color: #FFAD30;
    }

    table, th, tr, tbody, thead, td {
        border-top: 1.5px solid #63C9B8;
        border-bottom: 1.5px solid #63C9B8;
        border-right: none;
        border-left: none;
    }

    table td {
        border-top: 1.5px solid #63C9B8;
        border-bottom: 1.5px solid #63C9B8;
        border-right: none;
        border-left: none;
    }

        table tr {
            border-top: 1.5px solid #63C9B8;
            border-bottom: 1.5px solid #63C9B8;
            border-right: none;
            border-left: none;
        }

        table thead {
            border-top: 1.5px solid #63C9B8;
            border-bottom: 1.5px solid #63C9B8;
            border-right: none;
            border-left: none;
        }

    td {
        border: none;
    }

    table, tr {
        color: #64CAFF;
    }

    .sort-link {
        cursor: pointer;
    }

    #link {
        cursor: pointer;
    }

    .table-rows:hover {
        background-color: #e7d757;
        color: #24374A;
    }

    .table-rows:active {
        background-color: #e7d757;
        color: #24374A;
    }

    .positive {
        color: #63C9B8;
    }

    .negative {
        color: #F46957;
    }
}
